[submodule "monokai-xterm"]
	path = monokai-xterm
	url = https://github.com/cemmanouilidis/monokai-xterm
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts/
