"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono for Powerline"
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
